NODE_ENV=development
PORT=8080
MONGO_URI=mongodb+srv://Anton_Holovenko:anton17081980@cluster0.azw6lli.mongodb.net/proshop?retryWrites=true&w=majority
JWT_SECRET=abc123
PAYPAL_CLIENT_ID=AZzdI89f5hhR2I_G8BfqPEvpF8r9knnb__XPzajlwCHLxxLqMqbWl_uq1_o3FYBHGY8zk6S1bbu_7hqe